.App-header {
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.homeInputGroup {
  text-align: center;
  height: calc(100vh - 50px);
  display: grid;
  place-content: center;
  gap: 1ch;
}

.sidebarContainer {
  padding-top: 8px;
  display: flex;
  flex-flow: column;
  max-width: 300px;
  min-width: 250px;
  align-items: flex-start;
  padding: 8px;
  border-right: grey 1px solid;
  height: calc(100vh - 50px);
  overflow: scroll;
  gap: 2px;
}

.activeLink {
  width: 100%;
  background-color: lightblue;
  border: solid 0.5px grey;
}

.inactiveLink {
  border: solid 1px grey;
  width: 100%;
}

.documnetContainer {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}